<!DOCTYPE html>
<html>

<head>
  <title>Blockchain</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Blockchain</h1>
  <p>
    <%= chain %>
  </p>
</body>

</html>